<div class="padded-more">
  <h2>tTableInstaller</h2>
  <h3>Step 1 - database connection</h3>
  <small>
    Write down your MySQL / MariaDB connection information, click "Ckech connection" and "Next step" if connection successed
  </small>
</div>

<div ng-if="error" class="padded-more alert alert-error">
  <span class="icon icon-alert"></span>
  <strong>An error has ocured:</strong><br>
  Error code: <code>{{errorMessage}}</code>
</div>

<form class="padded-more">
  <div class="form-group">
    <label for="host">Database host:</label>
    <input
      type="text"
      class="form-control"
      id="host"
      placeholder="Database host"
      ng-model="host"
      required>
  </div>
  <div class="form-group">
    <label for="username">Database username:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Database username"
      ng-model="username"
      required>
  </div>
  <div class="form-group">
    <label for="password">Database password:</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Database password"
      ng-model="password">
  </div>
  <div class="form-group">
    <label for="host">Database name:</label>
    <input
      type="text"
      class="form-control"
      id="host"
      placeholder="Database name"
      ng-model="base"
      required>
  </div>
  <div class="form-actions">
    <button type="button" class="btn btn-form"
      ng-click="check()"
      ng-disabled="checking"
      ng-class="{'btn-primary': !checking, 'btn-default': checking}"
      >
      Check connection
    </button>
    <button class="btn btn-form pull-right"
      ng-disabled="!success"
      ng-class="{'btn-primary': success, 'btn-default': !success}"
    >Next step</button>
  </div>
</form>
